<!DOCTYPE html>
<html class=" ">

<head>
  <title>Rahat Wallet</title>
  <%- include ("./_layouts/head")%>
</head>

<body>
  <%- include ("./_layouts/header")%>

  <div class="appHeader bg-primary text-light">
    <div class="left">
      <a href="javascript:;" class="headerButton goBack">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </a>
    </div>
    <div class="pageTitle">Transactions</div>
    <div class="right">
      <a href="/home" class="headerButton">
        <ion-icon name="home-outline"></ion-icon>
      </a>
    </div>
  </div>

  <div id="appCapsule">
    <div id="cmpMain">




      <!-- transactions table -->
      <div class="section mt-2 mb-5">
        <div class="card text-center">
          <div class="card-header">
            All Transactions
          </div>
          <div class="card-body mb-n4">
            <div class="table-responsive">
              <table class="table mt-n3" id="tx-table">
                <thead>
                  <tr>

                    <th scope="col">Beneficiary</th>
                    <th scope="col">Amount</th>

                  </tr>
                </thead>

              </table>
            </div>
          </div>
        </div>
      </div>



    </div>

  </div>




  <%- include ("./_layouts/footer")%>
  <%- include ("./_layouts/foot")%>
  <script type="text/javascript" language="javascript" src="/js/plugins/datatables/datatables.min.js"></script>

  <script src="/js/app/transactions.js?v=<%=app.version%>"></script>
</body>

</html>

<%- include ("./_layouts/posthtml")%>